@CHARSET "UTF-8";

#feedback {
	position : absolute;
	float : right;
	margin-top  : 80px;
	margin-left : 500px;
	width : 250px;
	list-style : none; 
}

fieldset {
	
}

#stylized {
	border : solid 2px #b7ddf2;
	font-size : 12px;
	background : #ebf4fb;
}


#stylized .darker {
	color : #000;
}

#stylized .lighter {
	color : #DDD;
}

#stylized h1 {
	font-size : 14px;
	font-weight : bold;
	margin-bottom : 8px;
}

#stylized p {
	font-size : 11px;
	color : #666666;
	margin-bottom : 20px;
	border-bottom : solid 1px #b7ddf2;
	padding-bottom : 10px;
}

#stylized label {
	display : inline;
	font-weight: bold;
	text-align: right;
	width: 140px;
	float: left;
}

#stylized .small {
	color: #666666;
	display: block;
	font-size: 11px;
	font-weight: normal;
	text-align: right;
	width: 140px;
}

#stylized .form_input_line {
	clear : both;
	display : block;
	width : 100%;
}

#stylized input {
	float: left;
	font-size: 12px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	width: 300px;
	color : #aaa;
	margin: 2px 0 20px 10px;
}

#stylized select {
	float: left;
	font-size: 12px;
	height : 26px;
	padding: 4px 2px;
	border: solid 1px #aacfe4;
	margin: 2px 0 20px 10px;
}

#stylized .submitButton {
	clear: both;
	margin-left: 150px;
	width: 160px;
	height: 31px;
	background: #666666;
	text-align: center;
	line-height: 21px;
	color: #FFFFFF;
	font-size: 13px;
	font-weight: bold;
}

#stylized .phoneSep {
	float : left;
	text-align: center;
	line-height: 29px;
	padding-left:10px;
	padding-right:0px;
}